*{
	margin: 0;
	padding: 0;

}

.wrapper{
	margin: 0 auto;
	/*width: 1000px;*/
	background-image: url("../images/battlebg.png");
 	width: 1400px;
	height: 610px;
	background-size: cover;
	background-position: all;
}

.playerc
{
	text-align: left;
	font-size: 30px;
	color: #ffffff;
	font-family: sans-serif;
}


.villainc
{
	text-align: right;
	font-size: 30px;
	color: #ffffff;
	font-family: sans-serif;
}


#player
{
	background-image: url("../images/player1.png");
	background-position: top;
	margin: 10px;
	float: left;
	width: 102px;
	height: 145px;
	background-repeat: no-repeat;
	background-size: 200%;
}

#player:hover
{

	background-size: 100%;
}

#villain
{
	background-image: url("../images/player2.png");
	margin: 10px;
	float: right;
	background-position: top center;
	width: 102px;
	height: 145px;
	background-repeat: no-repeat;
	background-size: 200%;

}

#villain:hover
{

	background-size: 100%;
}

h1{
	text-align: center;
	font-size: 70px;
	color: #ffffff;
	font-family: sans-serif;
}

.battleButton{
	margin-top: -50px;
}

.battleButton button{
	color: white;
	height: 4em;
	width: 10%;
	padding: 1.5em auto;
	margin: 1em auto;
	background-color: #0f0606cf;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
  	letter-spacing: 0.5em;
}

.battleOptionsButton{
	color: white;
	height: 4em;
	width: 10%;
	padding: 1.5em auto;
	margin: 1em auto;
	background-color: #0f0606cf;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
  	letter-spacing: 0.5em;
}




