body { height: 100%; }
.oppenent_card {
  background: black;
  width: 240px;
  height: 330px;
  color: #2EA267;
  padding: 25px;
  border: 10px solid #1DAA66;
  border-radius: 20px;
  font-family: Arial; 
  font-size: 20px;
  margin-right: 7px;
  position: relative;
  float: right;
 }
 
 .player_card {
  background: black;
  width: 240px;
  height: 330px;
  color: #2EA267;
  padding: 25px;
  border: 10px solid #1DAA66;
  border-radius: 20px;
  font-family: Arial; 
  font-size: 20px;
  margin-left: 7px;
  position: relative;
  float: left;
 }
.health {  
  position: absolute; 
  top: 5px; 
  right: 25px; 
  color: #603871; }
img.hero { width: 100%; height: auto; }
.strengths, .weaknesses {
  width: 50%;
  float: left;
}

label {
  float: left;
  width: 33%;
  padding-right: 2%;
  padding-bottom: 2%;
  clear: both;
}
b { float: left; width: 65%; padding-bottom: 2%;}
.clear { clear: both; }


.player_card .img{
 	background-image: url("../images/merchant.png");
 	width: 100px;
 	height: 150px;
 	background-size: 100%;
 	object-fit: scale-down;
 	background-repeat: no-repeat;
 	float: left;
 }


.player_card .img2{
 	background-image: url("../images/waters.png");
 	width: 100px;
 	height: 150px;
 	background-size: 100%;
 	object-fit: scale-down;
 	background-repeat: no-repeat;
 	float: right;
 }
 
 
.oppenent_card .img{
 	background-image: url("../images/merchant.png");
 	width: 100px;
 	height: 150px;
 	background-size: 100%;
 	object-fit: scale-down;
 	background-repeat: no-repeat;
 	float: left;
 }
 
.oppenent_card .img2{
 	background-image: url("../images/waters.png");
 	width: 100px;
 	height: 150px;
 	background-size: 100%;
 	object-fit: scale-down;
 	background-repeat: no-repeat;
 	float: right;
 }